@page "/"

    <body class="mifondo">
        <div style="width:800px; margin:0 auto;" class="container">
            <h1 class="text-center text-white">Bienvenidos a WhosApp</h1>
        </div>
    </body>
    @code {

    }
